NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/nodejs_boilerplate

SQL_HOST=localhost
SQL_USER=margai
SQL_PASSWORD=Margai1
SQL_DB=nodejs_boilerplate

FILE_UPLOAD_PATH=./public/uploads
FILE_MAX_SIZE=2000000

JWT_SECRET=kajsfakljsdfkahjk98u3464a5df?!$%^
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=xxxx
SMTP_PASSWORD=xxxx
NOREPLY_EMAIL=noreply@example.com
NOREPLY_NAME=NoReply
SENDER_EMAIL=admin@example.com
SENDER_NAME=Administrator

GMAIL_USERNANE=xxxx
GMAIL_PASSWORD=xxxx

CLIENT_URL=xxxx

GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxx

FACEBOOK_APP_ID=xxxx
FACEBOOK_GRAPH_URL=xxxx
