APP_NAME=mtandao
NODE_ENV=development

MONGO_URI=xxxx
MONGO_DEBUG=true

FILE_UPLOAD_PATH=./public/uploads
FILE_MAX_SIZE=2000000

JWT_SECRET=xxxx
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

SENDGRID_API_KEY=xxxx
SENDGRID_NOREPLY_EMAIL=xxxx
SENDGRID_INFO_EMAIL=xxxx

CLIENT_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=xxxx
GOOGLE_CLIENT_SECRET=xxxx

FACEBOOK_APP_ID=xxxx
FACEBOOK_GRAPH_URL=xxxx
